body {
background-image: url(logo.png);
background-repeat: no-repeat;
background-size: auto;

}
.produto-container {
    display:flex;
    width: 100%;
    justify-content: space-around;
}
